aiohttp==3.6.2
asgiref==3.2.10
async-timeout==3.0.1
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cryptography==3.1
decorator==4.4.2
Django==3.1.1
django-scheduler==0.9.3
icalendar==4.0.7
idna==2.10
multidict==4.7.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==19.1.0
pyTelegramBotAPI==3.7.3
python-dateutil==2.8.1
python-telegram-bot==12.8
pytz==2020.1
requests==2.24.0
schedule==0.6.0
service-identity==18.1.0
six==1.15.0
sqlparse==0.3.1
telegram==0.0.1
TelegramBotAPI==0.3.2
telepot==12.7
tornado==6.0.4
typing-extensions==3.7.4.3
urllib3==1.25.10
yarl==1.5.1
